<html>
   <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link rel="stylesheet" href="css-main/cssmainwebsite.css">
    <link rel="stylesheet" href="css-main/cssprofilepage.css">
    <link rel="stylesheet" href="css-main/CT_LT-Main.css">
    <link rel="icon" href="images/icon.png">
    <script src="../js-main/search.js"></script>
    <title>tinkerlab.</title>
   </head> 
   <body>

    <!-- tinkerlab logo header -->
    <div class="header">
        <img class="imglogo" src="images/tinkerlablogo.png">
    </div>

    <!-- Taskbar div -->
    <div class="taskbar">
        <div class="btndivider">
            <a href="/LT-homepage">
                <button class="btndesign" id="homebtn">Home</button>
            </a>
        </div>
        <div class="btndivider">
            <a href="/LT-Reservation_Goks">
            <button class="btndesign" id="reservationbtn">Reservation</button>
           </a>
        </div>
        <div class="btndivider">
            <a href="/LT-View-Edit">
            <button class="btndesign" id="vieweditbtn">View/Edit</button>
            </a>
        </div>
        <div class="btndivider">     
            <a href ="/LT-Profile">
                <button class="btndesign" id="profilebtn">Profile</button>
            </a>
                <div class="dropdown">
                    <a class="btndesign" id="logoutbtn" onclick="showPrompt2()">Logout</a>
                </div>
        </div>
        
        <div class="searchdivider">
            <div class="searchfield">
                <button class="searchbutton" ><img src="images/searchglass.png" class="imgbtn"></button>
                <input class="searchinput" type="text" placeholder="Search...">
            </div>
            <div class="suggestions-div">
                <ul class="suggestions-ul">
                    <li class="suggestions-li"><a class="clearlink" href="/LT-Profile_view-only">Mason</a></li>    
                    <li class="suggestions-li"><a class="clearlink" href="/LT-Profile_view-only_Peter">Peter</a></li>    
                </ul>
            </div>
        </div>

       
    </div>
<!-- profile body -->
<div class="profilediv">

    <!-- left profile side -->
    <div class="profilediv1">
        <div id="photo-div">
            <div class="profileborder">
                <img class="profilephoto" src="{{user.profilePhoto}}" id="profilePhoto">
            </div>
        </div>
        <br>
        <div id="role-div">
            <h1 class="role">{{user.title}}</h1>
        </div>
        <br>
        <div id="editprofilebtn-div">
            <button class="purple-button"><a class="linktoedit" href="/LT-Profile_edit">EDIT PROFILE</a></button>
        </div>
        <br><br>
        <div id="deleteaccbtn-div">
            <a class="deleteaccbtn" onclick="showPrompt()">Delete Account</a>
        </div>
    </div>

    <hr class="vl"> 

    <!-- right profile side -->
    <div class="profilediv2">
        <h2 class="profileheader">{{user.fullName}}</h2>
        <textarea readonly class="profiledesc" rows="7" cols="80">{{user.description}}</textarea>

        <h2 id="reservationheader">LIST OF RESERVATIONS</h2>
        <div class="scheddiv">
            <table>
                <thead>
                    <tr>
                        <th>Seat No.</th>
                        <th>Computer Lab</th>
                        <th>Date of Request</th>
                        <th>Time of Request</th>
                        <th>Date of Reservation</th>
                        <th>Time of Reservation</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user.reservations}}
                    <tr>
                        <td>{{this.seatNo}}</td>
                        <td>{{this.computerLab}}</td>
                        <td>{{this.dateOfRequest}}</td>
                        <td>{{this.timeOfRequest}}</td>
                        <td>{{this.dateOfReservation}}</td>
                        <td>{{this.timeOfReservation}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>  
</div>


    <!-- Hidden confirmation dialog -->
    <script src="js/prompt.js"></script>
    <div id="dialog-1" class="dialog-1">
        <div class="dialog-header"></div>
        <p class="prompt-text">DO YOU CONFIRM TO <br><span class="red-text">DELETE ACCOUNT</span>?</p>
        <div class="button-container">
            <button class="back-button" onclick="hidePrompt()">Back</button>
            <button class="purple-button" onclick="showPrompt3()">Confirm</button>
        </div>
    </div>

    <script src="js/prompt.js"></script>
    <div id="dialog-2" class="dialog-2">
        <div class="dialog-header"></div>
        <p class="prompt-text">DO YOU CONFIRM TO <br><span class="red-text">LOG OUT</span>?</p>
        <div class="button-container">
            <button class="back-button" onclick="hidePrompt2()">Back</button>
            <button class="purple-button"  onclick="showPrompt3()">Confirm</button>
        </div>
    </div>

    <script src="js/prompt.js"></script>
    <div id="dialog-3" class="dialog-3">
        <div class="dialog-header"></div>
        <p class="prompt-text">PROCESS SUCCESSFUL.</p>
        <div class="button-container">
            <button class="purple-button" onclick="toLoginpage()">Confirm</button>
        </div>
    </div>    
    </body>
   <footer>
    <div class="footer-container">
        <div class="footer-column-1">
            <img class="footer-logo" src="images/tinkerlablogo.png">
            <p><span class = "tagline">Reserve in a Blink, then Explore and Think!</span></p>
        </div>
        <div class="footer-column-2">
            <h3>About</h3>
            <p class = "footer-about">an intuitive platform that allows students to easily<br> 
                reserve, check availability, and manage their computer<br> 
                lab seats, ensuring hassle-free access for projects,<br>studying, and creative work.</p>
        </div>
        <div class="footer-column-3">
            <h3>Contact</h3>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:charlemagne_craw@dlsu.edu.ph">charlemagne_craw@dlsu.edu.ph</a>
            </div>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:rafael_debelen@dlsu.edu.ph">rafael_debelen@dlsu.edu.ph</a>
            </div>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:monica_santiago@dlsu.edu.ph">monica_santiago@dlsu.edu.ph</a>
            </div>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:john_fredrick_tario@dlsu.edu.ph">john_fredrick_tario@dlsu.edu.ph</a>
            </div>
        </div>
    </div>
</footer>
</html>