<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css-main/CT-Reservation.css">
    <link rel="stylesheet" href="css-main/cssmainwebsite.css">
    <link rel="stylesheet" href="css-main/cssmainwebsite_reserve.css">

    <link rel="icon" href="images/icon.png">
    <title>tinkerlab.</title>
</head>
<body>
    <div class="header">
        <img class="imglogo" src="images/tinkerlablogo.png" alt="Tinkerlab Logo">
    </div>
    <div class="taskbar">
        <div class="btndivider">
            <a href="/LT-homepage">
                <button class="btndesign" id="homebtn">Home</button>
            </a>
        </div>
        <div class="btndivider">     
            <a href ="/LAndrew">
                <button class="btndesign" id="reservationbtn">Reservation</button>
            </a>
                <div class="dropdown-search">
                    <a href="/LT-Reservation_search-goks" class="btndesign" id="searchbtn" href="">Search</a>
                </div>
        </div>
        <div class="btndivider">
            <a href="/LT-View-Edit">
            <button class="btndesign" id="vieweditbtn">View/Edit</button>
            </a>
        </div>
        <div class="btndivider">
            <a href="/LT-Profile">
                <button class="btndesign" id="profilebtn">Profile</button>
            </a>
        </div>
        <div class="searchdivider">
            <div class="searchfield">
                <button class="searchbutton"><img src="images/searchglass.png" class="imgbtn" alt="Search"></button>
                <input class="searchinput" type="text" placeholder="Search...">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="content">
            <!--Left-->
            <div class="left-column">
                <div id="left" class="full-height">

                   
       <div class="time-button">
    <h1 class="left-text">TIME</h1>
    <div class="custom-select-wrapper">
        <select id="time-dropdown" class="time-dropdown" name="time">
            <option class="choices" value="7:30AM-8:00AM">7:30AM - 8:00AM</option>
            <option class="choices" value="8:00AM-8:30AM">8:00AM - 8:30AM</option>
            <option class="choices" value="8:30AM-9:00AM">8:30AM - 9:00AM</option>
            <option class="choices" value="9:00AM-9:30AM">9:00AM - 9:30AM</option>
            <option class="choices" value="9:30AM-10:00AM">9:30AM - 10:00AM</option>
            <option class="choices" value="10:00AM-10:30AM">10:00AM - 10:30AM</option>
            <option class="choices" value="10:30AM-11:00AM">10:30AM - 11:00AM</option>
            <option class="choices" value="11:00AM-11:30AM">11:00AM - 11:30AM</option>
            <option class="choices" value="11:30AM-12:00PM">11:30AM - 12:00PM</option>
            <option class="choices" value="12:00PM-12:30PM">12:00PM - 12:30PM</option>
        </select>
    </div>
</div>

<div class="date-button">
    <h1 class="left-text">DATE</h1>
    <form id="dateForm" action="/Andrew" method="GET">
        <input type="date" class="date-input" id="dateInput" name="date">
        <!-- Hidden input to store selected time -->
        <input type="hidden" id="selectedTime" name="time">
        <button type="button" id="submit-button">Submit</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const timeDropdown = document.getElementById('time-dropdown');
        const dateInput = document.getElementById('dateInput');
        const selectedTimeInput = document.getElementById('selectedTime');
        const submitButton = document.getElementById('submit-button');
        
        // Function to update the URL and hidden input based on selected time and date
        function updateFormData() {
            const selectedTime = timeDropdown.value;
            const selectedDate = dateInput.value;
            
            selectedTimeInput.value = selectedTime;
            
            const url = `/LAndrew?time=${encodeURIComponent(selectedTime)}&date=${selectedDate}`;
            document.getElementById('dateForm').action = url;
        }
  
        timeDropdown.addEventListener('change', function() {
            updateFormData();
        });

        dateInput.addEventListener('change', function() {
            updateFormData();
        });

        // On page load, check if there are existing values in the URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const timeParam = urlParams.get('time');
        const dateParam = urlParams.get('date');

        if (timeParam && dateParam) {
            timeDropdown.value = timeParam;
            dateInput.value = dateParam;
            updateFormData(); // Update the form with the selected values
        }

        // Listen for submit button click
        submitButton.addEventListener('click', function() {
            // Update form data before submitting
            updateFormData();
            
            // Submit the form
            document.getElementById('dateForm').submit();
        });
    });
</script>


    </div>
                  
            </div>

            <!--Right-->
            <div class="right-column"  class="full-height">

                <div id="top-right">
                    <h1 id="comp-lab-text">COMPUTER LAB:</h1>
                    <div class="lab-button">
                        <div class="custom-select-wrapper">
                            <select id="lab-dropdown" class="lab-dropdown">
                                <option value="/LVelasco">VL101</option>
                                <option value="/LAndrew">AG101</option>
                                <option value="/LGoks">GK101</option>
                            </select>
                        </div>
                    </div>          

                </div>
            
    <div id="mid-right">
        <div class="container-mid">
            <div id="top">
                <div id="teach-table">
                    <span id="teach-text">Teacher's table</span>
                </div>
            </div>
            
            <div class="colside col-md-1">
                {{#each velasco}}
                {{#each this.reservations}}
                     <img class="lab-student-icon" src="images/lab-student.png">
                <div id="S01" class="seat-name" data-seat="{{../_id}}" data-value="{{#if this.[0].value}}{{this.[0].value}}{{else}}0{{/if}}" data-value-name="{{#if this.[0].anonymous}}Anonymous{{else}}{{#if this.[0].name}}{{this.[0].name}}{{else}}N/A{{/if}}{{/if}}">data-seat</div><br>
                 {{/each}}
                 {{/each}}  
            </div>
    
            <div class="colmid col-md-1 border p-3"></div>
    
            <div class="colside col-md-1">
                {{#each velasco2}}
                {{#each this.reservations}}
                     <img class="lab-student-icon" src="images/lab-student.png">
                <div id="S01" class="seat-name" data-seat="{{../_id}}" data-value="{{#if this.[0].value}}{{this.[0].value}}{{else}}0{{/if}}" data-value-name="{{#if this.[0].anonymous}}Anonymous{{else}}{{#if this.[0].name}}{{this.[0].name}}{{else}}N/A{{/if}}{{/if}}">data-seat</div><br>
                 {{/each}}
                 {{/each}}  
            </div>
    
            <div class="colside col-md-1">
                 {{#each velasco3}}
                {{#each this.reservations}}
                     <img class="lab-student-icon" src="images/lab-student.png">
               <div id="S01" class="seat-name" data-seat="{{../_id}}" data-value="{{#if this.[0].value}}{{this.[0].value}}{{else}}0{{/if}}" data-value-name="{{#if this.[0].anonymous}}Anonymous{{else}}{{#if this.[0].name}}{{this.[0].name}}{{else}}N/A{{/if}}{{/if}}">data-seat</div><br>
                 {{/each}}
                 {{/each}}  
            </div>
    
            <div class="colmid col-md-1 border p-3"></div>
    
            <div class="colside col-md-1">
                {{#each velasco4}}
                {{#each this.reservations}}
                     <img class="lab-student-icon" src="images/lab-student.png">
               <div id="S01" class="seat-name" data-seat="{{../_id}}" data-value="{{#if this.[0].value}}{{this.[0].value}}{{else}}0{{/if}}" data-value-name="{{#if this.[0].anonymous}}Anonymous{{else}}{{#if this.[0].name}}{{this.[0].name}}{{else}}N/A{{/if}}{{/if}}">data-seat</div><br>
                 {{/each}}
                 {{/each}}  
    
            </div>
    
            <div class="colside col-md-1">
               {{#each velasco5}}
                {{#each this.reservations}}
                     <img class="lab-student-icon" src="images/lab-student.png">
               <div id="S01" class="seat-name" data-seat="{{../_id}}" data-value="{{#if this.[0].value}}{{this.[0].value}}{{else}}0{{/if}}" data-value-name="{{#if this.[0].anonymous}}Anonymous{{else}}{{#if this.[0].name}}{{this.[0].name}}{{else}}N/A{{/if}}{{/if}}">data-seat</div><br>
                 {{/each}}
                 {{/each}}  

            </div>
    
            <div class="colmid col-md-1 border p-3"></div>
    
            <div class="colside col-md-1">
                 {{#each velasco6}}
                {{#each this.reservations}}
                     <img class="lab-student-icon" src="images/lab-student.png">
                <div id="S01" class="seat-name" data-seat="{{../_id}}" data-value="{{#if this.[0].value}}{{this.[0].value}}{{else}}0{{/if}}" data-value-name="{{#if this.[0].anonymous}}Anonymous{{else}}{{#if this.[0].name}}{{this.[0].name}}{{else}}N/A{{/if}}{{/if}}">data-seat</div><br>
                 {{/each}}
                 {{/each}}  
            </div>
        </div>
    </div>
    
                      <script>
  // Select all elements with the class 'seat-name'
  const seatDivs = document.querySelectorAll('.seat-name');

  // Loop through each seat div
  seatDivs.forEach(seatDiv => {
    // Get the value of the data-seat attribute for each div
    const seatValue = seatDiv.getAttribute('data-seat');
    
    // Set the content of each div to the value of its data-seat attribute
    seatDiv.textContent = seatValue;
  });
</script>
            
            
<script>
document.addEventListener('DOMContentLoaded', function() {
    const reserveButton = document.getElementById('reserve-button');
    const labDropdown = document.getElementById('lab-dropdown');
    const seatElements = document.querySelectorAll('.seat-name');
    const dialog = document.getElementById("dialog-1");
    const promptText = document.querySelector(".prompt-text");
    let numSelected = 0;
    let selectedSeats = []; // Array to store selected seat names

    // Debug: Ensure elements exist
    console.log("Reserve Button:", reserveButton);
    console.log("Lab Dropdown:", labDropdown);
    console.log("Seat Elements:", seatElements);

    // Function to handle seat click events
    function handleSeatClick() {
        const value = this.getAttribute("data-value");
        const seatName = this.getAttribute("data-seat");
        const occupant = this.getAttribute("data-value-name");

        if (value === "1") {
            if (occupant === "Anonymous") {
                showPrompt3(seatName, occupant);
            } else {
                showPrompt(seatName, occupant);
            }
        } else if (value === "0") {
            this.classList.toggle('selected');
            if (this.classList.contains("selected")) {
                this.style.backgroundColor = "#951ABE";
                this.style.color = "white";
                numSelected++;
                selectedSeats.push(seatName); // Add selected seat to array
            } else {
                this.style.backgroundColor = "green";
                this.style.color = "black";
                numSelected--;
                selectedSeats = selectedSeats.filter(name => name !== seatName); // Remove deselected seat from array
            }
        }
    }

    // Add event listener to each seat element
    seatElements.forEach(function(seat) {
        seat.addEventListener('click', handleSeatClick);
    });

    // Add event listener to reserve button for final reservation submission
    reserveButton.addEventListener('click', async function() {
        if (selectedSeats.length > 0) {
            const selectedLab = labDropdown.value;

            console.log("Selected Lab:", selectedLab);
            console.log("Selected Seats:", selectedSeats);

            const dateofreservation = document.getElementById('dateInput').value;
            const timeofreservation = document.getElementById('time-dropdown').value;

            const now = new Date();
            const dateofrequest = now.toISOString().split('T')[0];
            const timeofrequest = now.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

            const reservationData = {
                lab: "VL101",
                dblab: "Velasco",
                dateofreservation,
                timeofreservation,
                timeofrequest,
                dateofrequest,
                seatNames: selectedSeats
            };

            console.log("Reservation Data:", reservationData);

            try {
                const response = await fetch('/LT-Reservation_reservation-details', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(reservationData)
                });

                if (response.ok) {
                    // Redirect to the reservation details page
                    window.location.href = '/LT-Reservation_reservation-details';
                } else {
                    alert('Failed to reserve seats. Please try again.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again later.');
            }
        } else {
            showPrompt2();
        }
    });

    function showPrompt(seatName, occupant) {
        const profileLink = "/LT-Profile_view-only";
        promptText.innerHTML = `<span class="prompt-class"> <span class="js_note">SORRY <span class="js_seat">${seatName}</span> IS <br> TAKEN ALREADY!</span> <br><br> <span class="js_username"><span class="js_occu">Occupied by:</span> <a href='${profileLink}'>${occupant}</a></span></span></span>`;
        dialog.style.display = "block";
    }

    function showPrompt2() {
        promptText.innerHTML = '<br><br><span class="prompt-class"> <span class="js_note">Please<span class="js_seat"> select</span> <br> at least 1 seat!</span></span>';
        dialog.style.display = "block";
    }

    function showPrompt3(seatName, occupant) {
        promptText.innerHTML = `<span class="prompt-class"> <span class="js_note">SORRY <span class="js_seat">${seatName}</span> IS <br> TAKEN ALREADY!</span> <br><br> <span class="js_username"><span class="js_occu">Occupied by:</span> ${occupant}</span></span>`;
        dialog.style.display = "block";
    }

    window.hidePrompt = function() {
        dialog.style.display = "none";
    };
});
</script>

                <div id="bot-right" >
                    <a class="purple-button" id="reserve-button">Reserve</a>
                    <div id="dialog-1" class="dialog-1">
                        <div class="dialog-header"></div>
                        <p class="prompt-text"></p>
                        <div class="button-container">
                            <button class="back-button" onclick="hidePrompt()">Back</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Hidden confirmation dialog -->
     <div id="dialog-1" class="dialog-1">
        <div class="dialog-header"></div>
        <div class="button-container">
            <button class="back-button" onclick="hidePrompt()">Back</button>
        </div>
    </div>


</div>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js-main/lab_reserve.js"></script>
    <script src="js-main/CT-Reservation_hoverseats.js"></script>
    <script src="js-main/CT-Reservation_DateRestrict.js"></script>
</body>

<footer>
    <div class="footer-container">
        <div class="footer-column-1">
            <img class="footer-logo" src="images/tinkerlablogo.png">
            <p><span class = "tagline">Reserve in a Blink, then Explore and Think!</span></p>
        </div>
        <div class="footer-column-2">
            <h3>About</h3>
            <p class = "footer-about">an intuitive platform that allows students to easily<br> 
                reserve, check availability, and manage their computer<br> 
                lab seats, ensuring hassle-free access for projects,<br>studying, and creative work.</p>
        </div>
        <div class="footer-column-3">
            <h3>Contact</h3>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:charlemagne_craw@dlsu.edu.ph">charlemagne_craw@dlsu.edu.ph</a>
            </div>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:rafael_debelen@dlsu.edu.ph">rafael_debelen@dlsu.edu.ph</a>
            </div>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:monica_santiago@dlsu.edu.ph">monica_santiago@dlsu.edu.ph</a>
            </div>
            <div class="contact-info">
                <img class="email-logo" src="images/email-logo.png">
                <a class="dlsu-email" href="mailto:john_fredrick_tario@dlsu.edu.ph">john_fredrick_tario@dlsu.edu.ph</a>
            </div>
        </div>
    </div>

    </footer>
</footer>

</html>
